services:
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      - POSTGRES_MULTIPLE_DATABASES="${PG_DB_DEV_NIL}"
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
    ports:
      - ${PG_PORT}:5432
    volumes:
      - ./.snippets/postgres/init-databases:/docker-entrypoint-initdb.d
      - ./.docker/postgres:/var/lib/postgresql/data/

  redis:
    image: redis:8-alpine
    restart: always
    ports:
      - ${REDIS_PORT}:6379
    command: "redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}"
    volumes:
      - ./.docker/redis:/data
